<p>dataypes works!</p>
<div clas="data">
    First Name:{{name}}<br/>
    Age:{{age}}<br>
    Hobbies:{{hobbies}}<br>
    Marks:{{marks}}<br>
    Boolean:{{Istrue}}<br>
    Tuple:{{tupleval}}<br>]
    Any:{{dynamicvalue}}<br>
   
    FatherName:{{student.fathername}}<br/>
    Address:{{student.Address}}
    <br>

    JSOn:{{student|json}}
</div>
<hr>
<img src="assets/images/vall.jpg" alt="Ball" height="50" width="50"/>
<hr>
<img src={{picture}} alt="DOLL" />
<hr>
<h2>Property Binding</h2>
<img [src]=picture alt="DOLL"/>